
.gridFooter{
    background-color: nth($colores, 1);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    .gridfooterRedes{
        a{
            padding: 0.5rem;
            margin-inline: 1rem;
        }
    }
    .gridfooterDatos{
        ul{
            li{
                list-style: none;
                text-align: center;
                margin-top: 1.5rem;
                font-family:'Arimo', sans-serif;
                color: nth($colores, 2);
            }
        }
    }
    .girdfooterMaps{
        iframe{
            margin-top: 1.5rem; 
            padding: 0.5rem;
        }
    }
}